In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\anaconda\lib\site-packages (1.1.0)

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\anaconda\lib\site-packages (from mysql-connector-python) (4.21.12)

In [3]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import create_engine, text 
import mysql.connector as sql

In [4]:
mydb = sql.connect(
  host="localhost",
  user="root",
  password="Risvana123",
  database="phonebook_records"
    
  
)

mycursor = mydb.cursor(buffered=True)

In [6]:
mycursor.execute("CREATE DATABASE phonebook_records")

In [7]:
create_table_query = """
CREATE TABLE phone_records (
    Name VARCHAR(255),
    email VARCHAR(255),
    Phone_1 VARCHAR(15),
    Phone_2 VARCHAR(15)
)
"""

# Execute the query
mycursor.execute(create_table_query)

In [8]:
import csv

def read_phone_book_from_csv(file_path):
    phone_book = []
    
    with open(file_path, 'r') as csv_file:
        csv_reader = csv.DictReader(csv_file)
        
        for row in csv_reader:
            name = row['Name']
            email = row['Email']
            phone1 = row['Phone 1']
            phone2 = row['Phone 2']
            
            record = {'Name': name, 'Email': email, 'Phone 1': phone1, 'Phone 2': phone2}
            phone_book.append(record)
    
    return phone_book

# Example usage
file_path = r'G:\phone_records.csv'
phone_book_records = read_phone_book_from_csv(file_path)
for i in (phone_book_records):
    print(i)

{'Name': 'Jhon', 'Email': 'jhon@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Doe', 'Email': 'doe@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Rahu', 'Email': 'rahu@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Rilvan', 'Email': 'rilvan@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Rahamaththulla', 'Email': 'rahamaththulla@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Risvana', 'Email': 'risvana@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Ram', 'Email': 'ram@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Ravi', 'Email': 'ravi@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'Ramprakash', 'Email': 'ramprakash@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'vinoth', 'Email': 'vinoth@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}
{'Name': 'keerthi', 'Email': 'keerthi@gmail.com', 'Phone 1': '1234567890', 'Phone 2': '9876543210'}

In [9]:
for data in phone_book_records:
            name=data["Name"]
            Email=data['Email']
            Phone_1=data['Phone 1']
            Phone_2=data['Phone 2']
            print("Name:",name,"Email:",Email,"Phone_1",Phone_1,"Phone_2",Phone_2)
            insert_query = f"""
INSERT INTO phone_records (Name, email, Phone_1, Phone_2)
VALUES ('{name}', '{Email}', '{Phone_1}', '{Phone_2}')
"""
            mycursor.execute(insert_query)
            mydb.commit()
            print("\n Inserted successfully")

Name: Jhon Email: jhon@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Doe Email: doe@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Rahu Email: rahu@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Rilvan Email: rilvan@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Rahamaththulla Email: rahamaththulla@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Risvana Email: risvana@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Ram Email: ram@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Ravi Email: ravi@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: Ramprakash Email: ramprakash@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: vinoth Email: vinoth@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully
Name: keerthi Email: keerthi@gmail.com Phone_1 1234567890 Phone_2 9876543210

 Inserted successfully

In [10]:
select_all_query = "SELECT * FROM phone_records LIMIT 10"
mycursor.execute(select_all_query)
result_select_all = mycursor.fetchall()
print("2.1 - SELECT * FROM phone_records limit 10:")
print(result_select_all)

# 2.2 SELECT * FROM phone_records WHERE name='Doe'; (filters records where 'Doe' is found)
select_doe_query = "SELECT * FROM phone_records WHERE name='Doe'"
mycursor.execute(select_doe_query)
result_select_doe = mycursor.fetchall()
print("\n2.2 - SELECT * FROM phone_records WHERE name='Doe':")
print(result_select_doe)

# 2.3 INSERT INTO phone_records(name, email, phone_1, phone_2) VALUES('Test', 'test@test.xtyz', '1234456', '1233233')
insert_query = """
INSERT INTO phone_records (Name, email, Phone_1, Phone_2)
VALUES ('Test', 'test@test.xtyz', '1234456', '1233233')
"""
mycursor.execute(insert_query)
mydb.commit()
print("\n2.3 - INSERT INTO phone_records: Record inserted successfully.")
select_test_query = "SELECT * FROM phone_records WHERE name='Test'"
mycursor.execute(select_test_query)
result_select_test = mycursor.fetchall()
print("2.3 - SELECT * FROM phone_records WHERE name='Test':")
print(result_select_test)

# 2.4 DELETE FROM phone_records WHERE name='John'; (deletes the record where name is 'John')
delete_query = "DELETE FROM phone_records WHERE name='Jhon'"
mycursor.execute(delete_query)
mydb.commit()
print("\n2.4 - DELETE FROM phone_records: Record deleted successfully.")
select_check_query = "SELECT * FROM phone_records WHERE name='Jhon'"
mycursor.execute(select_check_query)
result_select_check = mycursor.fetchall()
print("\n2.4 - SELECT * FROM phone_records WHERE name='Jhon':")
print(result_select_check)

2.1 - SELECT * FROM phone_records limit 10:
[('Jhon', 'jhon@gmail.com', '1234567890', '9876543210'), ('Doe', 'doe@gmail.com', '1234567890', '9876543210'), ('Rahu', 'rahu@gmail.com', '1234567890', '9876543210'), ('Rilvan', 'rilvan@gmail.com', '1234567890', '9876543210'), ('Rahamaththulla', 'rahamaththulla@gmail.com', '1234567890', '9876543210'), ('Risvana', 'risvana@gmail.com', '1234567890', '9876543210'), ('Ram', 'ram@gmail.com', '1234567890', '9876543210'), ('Ravi', 'ravi@gmail.com', '1234567890', '9876543210'), ('Ramprakash', 'ramprakash@gmail.com', '1234567890', '9876543210'), ('vinoth', 'vinoth@gmail.com', '1234567890', '9876543210')]

2.2 - SELECT * FROM phone_records WHERE name='Doe':
[('Doe', 'doe@gmail.com', '1234567890', '9876543210')]

2.3 - INSERT INTO phone_records: Record inserted successfully.
2.3 - SELECT * FROM phone_records WHERE name='Test':
[('Test', 'test@test.xtyz', '1234456', '1233233')]

2.4 - DELETE FROM phone_records: Record deleted successfully.

2.4 - SELECT * FROM phone_records WHERE name='Jhon':
[]